
<h2>Find exclusive deals at our store by becoming a member today!</h2>
<%= image_tag "store.jpg" %>
<br>

      <% if user_signed_in? %>
      <%= link_to 'CLICK HERE TO ACCESS STORE', store_index_path %>
      <% end %>